.aside-wrap#aside-wrap
  .aside-open
    span Меню
  .aside#aside.bounceInDown.animated
    a(href="#").aside-logo
      img(src="assets/img/logo.jpg" alt="logo")
    nav.aside-menu
      ul.aside-menu__list
        li.aside-menu__item
          a(href="#").aside-menu__link о компании
        li.aside-menu__item.aside-menu__item--parent
          a(href="#").aside-menu__link услуги
          ul.aside-menu__sublist
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink epc
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink проектирование
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink поставки оборудования
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink Строительно-монтажные работы
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink управление проектами
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink Технический и финансовый аудит
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink Разработка тендерной документации
            li.aside-menu__subitem
              a(href="#").aside-menu__sublink строительство линий производства
        li.aside-menu__item
          a(href="#").aside-menu__link деятельность
        li.aside-menu__item
          a(href="#").aside-menu__link уникальные компетенции
        li.aside-menu__item.active
          a(href="#").aside-menu__link проекты
        li.aside-menu__item
          a(href="#").aside-menu__link контакты
    .aside-lang
      .aside-lang__item.aside-lang__item--ru.active(data-lang='rus')
      .aside-lang__text#aside-lang__text rus
      .aside-lang__item.aside-lang__item--eng(data-lang='eng')



