//begin parallax
.parallax#parallax
  .parallax__layer.parallax__layer--top(data-depth="0.1")
    .parallax__layer-inn
  .parallax__layer.parallax__layer--middle(data-depth="0.05")
    .parallax__layer-inn
  .parallax__layer.parallax__layer--bottom(data-depth="-0.02")
    .parallax__layer-inn
//end   parallax