//begin preloader
section.preloader-overlay#preloader-overlay
  .preloader
    svg(viewbox='0 0 140 140')
      path.toms-logo.toms-logo-1(d='M 1,1   L 139,1  L 139,139 L85,139  L85,55  L1,55z ')
      path.toms-logo.toms-logo-2(d='M 1,65  L 75,65  L 75,139  L40,139  L40,100  L1,100z ')
      path.toms-logo.toms-logo-3(d='M 1,110 L 30,110 L 30,139  L 1,139z')
    h2.preloader__name томс
//end   preloader