script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOCsBWLmb8s4eo6cltyZG2HRu99sG3RnE")
script(src='assets/js/foundation.js')
script(src='assets/js/app.js')
script(src='assets/js/uncompressed.js')