//begin popup
.popup__layer
  .popup
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    .popup__left
      h3.popup__title релизован очередной крупный проект
      p Группа ТОМС обладает необходимыми компетенциями для планирования и выполнения всего спектра услуг и работ, необходимых недропользователю и инвестору как для привлечения финансирования, так и для развития проекта на любом этапе его освоения.
      a(href="#").btn.button--pipaluk узнать больше
    .popup__right
//end popup