//begin projects-popups
.projects-popup__layer
.projects-popup.projects-popup--01
  .popup__close
    svg
      use(xlink:href="assets/img/sprite.svg#close")
  .projects-popup__inn
    .projects-popup__top(style="background-image:url('assets/img/projects-popup.jpg');")
      h3.projects-popup__title Забайкальский край
    .projects-popup__bottom
      p Товарищи! консультация с широким активом требуют от нас анализа соответствующий условий активизации. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
      p Равным образом укрепление и развитие структуры способствует подготовки и реализации систем массового участия.
.projects-popup.projects-popup--02
  .popup__close
    svg
      use(xlink:href="assets/img/sprite.svg#close")
  .projects-popup__inn
    .projects-popup__top(style="background-image:url('assets/img/projects-popup.jpg');")
      h3.projects-popup__title Иркутская область
    .projects-popup__bottom
      p Товарищи! консультация с широким активом требуют от нас анализа соответствующий условий активизации. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
      p Равным образом укрепление и развитие структуры способствует подготовки и реализации систем массового участия.
.projects-popup.projects-popup--03
  .popup__close
    svg
      use(xlink:href="assets/img/sprite.svg#close")
  .projects-popup__inn
    .projects-popup__top(style="background-image:url('assets/img/projects-popup.jpg');")
      h3.projects-popup__title Камчатский край
    .projects-popup__bottom
      p Товарищи! консультация с широким активом требуют от нас анализа соответствующий условий активизации. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
      p Равным образом укрепление и развитие структуры способствует подготовки и реализации систем массового участия.

//end projects-popups

//begin popup
.popup__layer
  .popup
    .popup__close
      svg
        use(xlink:href="assets/img/sprite.svg#close")
    .popup__left
      h3.popup__title релизован очередной крупный проект
      p Группа ТОМС обладает необходимыми компетенциями для планирования и выполнения всего спектра услуг и работ, необходимых недропользователю и инвестору как для привлечения финансирования, так и для развития проекта на любом этапе его освоения.
      a(href="#").btn.button--pipaluk узнать больше
    .popup__right
//end popup