block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title #{title}

    meta(name="description" content="odinokun`s start template")
    meta(name="keywords"    content="odinokun`s start template")
    meta(name="author"      content="odinokun")

    // begin responsive
    meta(name="viewport"              content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    // end responsive

    // begin social content&image
    meta(property='og:title'  content='odinokun`s start template')
    meta(property='og:url'    content='http://odinokun.com/')
    meta(property="og:image"  content="assets/img/social.jpg")
    // end social content&image

    // begin favicon block start
    link(rel='shortcut icon'    type='image/x-icon' href='assets/img/favicon/favicon.png')
    link(rel='apple-touch-icon' sizes='180x180'     href='img/favicon/apple-touch-icon-180x180.png')
    // end favicon block end
    style.
      .preloader-overlay{position:fixed;z-index:1000;top:0;right:0;bottom:0;left:0;display:flex;align-items:center;justify-content:center;width:100%;height:100vh;background-color:#03745a}.preloader{display:flex;flex-direction:column;justify-content:center;width:200px;text-align:center}.preloader svg{width:140px;height:140px;margin:0 auto 10px}.toms-logo-1{animation:dash 3s linear forwards}.toms-logo-2{animation:dash 6s linear forwards}.toms-logo-3{animation:dash 15s linear forwards}.toms-logo{fill:transparent;stroke-linecap:square;stroke:#fff;stroke-width:2px;stroke-dasharray:1000;stroke-dashoffset:1000}@keyframes dash{from{stroke-dashoffset:1000}to{stroke-dashoffset:0}}.preloader__name{font-family:$font-os-b;font-size:70px;letter-spacing:-3px;text-transform:uppercase;color:#fff}

    link(rel='stylesheet' href='assets/css/foundation.css')
    link(rel='stylesheet' href='assets/css/app.css')
    link(rel='stylesheet' href='assets/css/uncompressed.css')

    // begin custom browsers color
    meta(name='theme-color', content='#007454')
    // end custom browsers color

    //[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]

  body
    block content


