extends ../_template

mixin hero-footer__item(top, middle, bottom)
  .hero-footer__item
    span.hero-footer__top #{top}
    span.hero-footer__middle.spincrement #{middle}
    span.hero-footer__bottom #{bottom}

block variables
  - var title = 'Томс'

block content
  include ../sections/preloader
  include ../sections/header

  //begin content
  section.main.index-page

    include ../sections/parallax

    .container
      include ../sections/aside
      section#barba-wrapper.barba-wrapper
        .barba-container.index#index
          .hero.fadeInUp.animated
            .hero-text
              h2.hero__title комплексное ОСВОЕНИЕ НЕДР С 1993 ГОДА
              h3.hero__subtitle мы знаем, как ископаемые становятся полезными
              p
                |Компании группы ТОМС оказывают полный
                a(href="#") комплекс услуг
                =" "
                |по освоению месторождения от инвестиционного замысла до выхода предприятия на проектную мощность.
              a(href="#").btn.button--pipaluk.index-btn узнать больше
              //button.hero__btn узнать больше
            .hero-footer
              +hero-footer__item('более', '20', 'лет на рынке')
              +hero-footer__item('реализовано', '28', 'ерсм проектов')
              +hero-footer__item('ежегодно', '120', 'НИР и тех. регламентов')
  //end content

  include ../sections/scripts
